# Dependencies
node_modules/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Next.js
.next/
out/
build/
dist/

# Turbo
.turbo/

# Production
*.tsbuildinfo
next-env.d.ts

# Misc
.DS_Store
*.log
.idea/
.vscode/

# Secrets
.env
.env.*
!.env.example
.doppler.yaml

# Vercel
.vercel
